.container{
  margin-top:10px;
}

.checkout-box{
min-width:500px;
width: 65%;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
padding:1em;
}

.checkout-box> .show-grid{
  padding-bottom: 1.5em;
  padding-left:0.3em;
}

.item-details-btn:focus{
  outline:none;
}
.apply-promo-btn:focus{
  outline:none;
}

.qnty-btn:focus{
  outline:none;
}

.qnty-btn:active{
  outline:none;
}

.pop-up-btn-row{
  padding-top:4%;
  padding-left:150px;
}

.pop-up-btn:focus{
  outline:none;
}
.pop-up-btn:active{
  outline:none;
}

.checkout-btn{
  margin-left: 42%;
  margin-top:10px;
}